.l-header {
  .navbar-item .icon + span {
    margin-left: 3px;
  }
}

.l-article {
  .hero-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.l-footer {
  opacity: .7;
  padding: 4.5rem 0 .5rem 0;
  background-color: transparent;
}
