.m-switcher.is-active {
  &:before {
    font-weight: bold;
  }

  &:after {
    font-weight: normal;
    color: $grey-dark;
  }

  .m-switcher-knob:before {
    transform: translate(-50%, 0);
  }
}

.is-invisible {
  visibility: hidden;
}

.navbar.is-vcentered,
.navbar-brand.is-vcentered {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}