$primary: $black-ter;
$primary-invert: $white-ter;


// Elements
//=========

// Title
$title-color: $black-bis;
$subtitle-color: $black-ter;


// Components
//===========

// Navbar
$navbar-item-color: $primary;