$primary: $white-ter;
$primary-invert: $black-ter;

$black: #000;

$text: $grey-lighter;


// Elements
//=========

// Title
$title-color: $white-bis;
$subtitle-color: $white-ter;


// Components
//===========

// Navbar
$navbar-item-color: $primary;