.t-light {
  @import "~bulma/sass/utilities/initial-variables";

  $primary: $black-ter;
  $primary-invert: $white-ter;

  $title-color: $black-bis;
  $subtitle-color: $black-ter;

  @import "decorator";
}